<!--
  Generated template for the AulaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Aula</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <div class="video-container">
        <iframe [src]="domSanitizer.bypassSecurityTrustResourceUrl(item.video)" frameborder="0"></iframe>
      </div>
    </ion-item>
  </ion-card>

  <ion-card>
      <ion-item>
        <p>{{item.ordem}} - {{item.titulo}}</p>
        <p>Tempo: {{item.tempo}}</p>
      </ion-item>
    </ion-card>
</ion-content>
