<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let item of lista">
    <img [src]="item.imagem"/>
    <ion-card-content>
      <ion-card-title>
        {{item.titulo}}
      </ion-card-title>
      <p>
        {{item.descricao}}
      </p>
      <button ion-button (click)="abreDetalhe(item)" block>Mais</button>
      <button ion-button color="secondary" block>R${{item.valor_txt}}</button>
    </ion-card-content>
  </ion-card>

</ion-content>