<!--
  Generated template for the DetalhePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Detalhe</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{item?.titulo}}
      </ion-card-title>
      <p>
        {{item?.descricao}}
      </p>
      <button ion-button block color="secondary">R${{item?.valor_txt}}</button>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      Aulas:
    </ion-list-header>
    <button ion-item *ngFor="let aula of item?.aulas" (click)="abreAula(aula)">
      {{ aula.ordem }} - {{ aula.titulo }} - {{ aula.tempo }}
    </button>
  </ion-list>


</ion-content>